<div class="m-backtotop" aria-hidden="true">
  <div class="arrow">
    <i class="fa fa-arrow-up"></i>
  </div>
  <div class="text">
    Back to top
  </div>
</div>
<script>
  (function () {
    document.querySelectorAll('.e-content a').forEach(e => {
      e.setAttribute('target', '_blank');
    })
  })()
  window.addEvent(this, 'load', () => {
    var toggleHeight = $(window).outerHeight() * 1.5;
    $(window).scroll(function () {
      if ($(window).scrollTop() > toggleHeight) {
        //Adds active class to make button visible
        $(".m-backtotop").addClass("active");
      } else {
        //Removes active class to make button visible
        $(".m-backtotop").removeClass("active");
      }
    });
    //Scrolls the user to the top of the page again
    $(".m-backtotop").click(function () {
      $("html, body").animate({ scrollTop: 0 }, "slow");
      return false;
    });
  })
</script>