--- 
layout: archive 
---

{{ content }}

<div class="about post">
  <p>My name is @YukunYang(@杨宇坤), i'm a software engineer, and tring to become a algorithm engineer</p>
  <p>I was born and grew up in China,will get my bachelors degree in Wuhan Institute of Technology
    <del>and I would like to study for a master's degree at Sun Yat-sen University</del>
  </p>
  <h3>Some thing about my work experiences</h3>
  <ul>
    <li>I used to work at <a target="_blank" href="http://meituan.com">@Meituan</a> Beijing from 2018.06 to 2018.08 as a Front-End intern</li>
  </ul>
  <h3>More...</h3>
  <ul>
    <li>My email address: 
      <a target="_blank" href="mailto:ylcj1314@gmail.com">ylcj1314@gmail.com</a>
    </li>
    <li>Zhihu: 
      <a target="_blank" href="https://www.zhihu.com/people/yang-yu-kun-57/activities">@yuunyang</a>
    </li>
  </ul>
</div>
{% if site.gitalk %} {% include gitalk-comments.html %} {% endif %}