--- 
layout: archive
--- 

{{ content }}
<p class="type-it"></p>

<script src="https://cdn.bootcss.com/typeit/5.10.1/typeit.min.js"></script>
<script>
    new TypeIt('.type-it', {
        speed: 100,
        autoStart: false
    })
        .type('你好啊')
        .pause(1000)
        .delete(3)
        .type('肯定很好啊')
        .break()
        .pause(1000)
        .type('不知道这样不知道会不会很尴尬')
        .break()
        .pause(750)
        .type('我好像不知道该说什么')
        .options({ speed: 700 })
        .type('啊:(')
        .pause(750)
        .options({ speed: 50 })
        .delete()
        .type('好吧，我叫 <strong>杨宇坤</strong>')
        .break()
        .pause(750)
        .type('来自 <strong>计算机学院</strong>')
        .break()
        .pause(750)
        .type('我也没有什么特长啊')
        .break()
        .pause(750)
        .type('写写代码跑跑步啥的')
        .break()
        .pause(750)
        .type('跑步又不敢讲，我就写在我的网站上发给你啦')
        .break()
        .pause(750)
        .type('不知道这样的介绍方式会不会很蠢')
        .pause(750)
        .delete(15)
        .break()
        .type('没关系，反正你都看到了')
        .pause(750)
        .break()
        .type('那，不知道可不可以认识一下嘛')
        .break()
        .pause(750)
        .type('我的<a href="mailto:ylcj1314@gmail.com">邮箱</a>☝️')
        .break()
        .pause(750)
        .type('或者可以留电话嘛')
        .pause(2000)
        .delete(4)
        .pause(750)
        .delete(4)
        .break()
        .type('偷偷的留一个吧，我的电话<a href="tel:13098878963">13098878963</a>')
        .break()
        .type('😀')
</script>