
{{ content }}
<canvas class="fireworks"></canvas>
<section>
    <svg class="logo" width="25rem" height="12rem" viewBox="0 0 800 384">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect id="dot-js" fill="#FFFFFF" x="80" y="352" width="32" height="32" rx="16"></rect>
            <g id="lines" transform="translate(128.000000, 256.000000)">
            </g>
            <g id="fills" transform="translate(112.000000, 256.000000)">
            </g>
        </g>
    </svg>
</section>
<p class="type-it"></p>
<a class="footer" href="/">返回我的博客，嘻嘻嘻</a>
<style>
    .type-it,.footer{
        font-size: 2.2em;
        color: #ffffff;
        margin: 1em;
    }
    .footer{
        position: fixed;
        bottom: 0;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #18212D;
    }

    section {
        position: relative;
        z-index: 1;
        max-width: 19rem;
    }

    /* Logo */

    .logo {
        margin: 0;
        height: 0;
    }

    body.ready .logo {
        opacity: 1;
    }

    body:not(.iOS) #lines * {
        mix-blend-mode: lighten;
    }

    #fills * {
        opacity: 0;
        mix-blend-mode: lighten;
    }

    #line-i-1 {
        transform-origin: 30em 8em;
    }

    /* Fireworks */

    .fireworks {
        position: absolute;
            top: 0;
            left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<script src="https://cdn.bootcss.com/typeit/5.10.1/typeit.min.js"></script>
<script src="https://cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script>
<script>
    new TypeIt('.type-it', {
        speed: 100,
        autoStart: false
    })
        .type('你好啊')
        .pause(1000)
        .delete(3)
        .type('肯定很好啊')
        .break()
        .pause(1000)
        .type('不知道这样不知道会不会很尴尬')
        .break()
        .pause(750)
        .type('我好像不知道该说什么')
        .options({ speed: 700 })
        .type('啊:(')
        .pause(750)
        .options({ speed: 50 })
        .delete()
        .type('好吧，我叫 <strong>杨宇坤</strong>')
        .break()
        .pause(750)
        .type('来自 <strong>计算机学院</strong>')
        .break()
        .pause(750)
        .type('我也没有什么特长啊')
        .break()
        .pause(750)
        .type('写写代码跑跑步啥的')
        .break()
        .pause(750)
        .type('跑步又不敢讲，我就写在我的网站上发给你啦')
        .break()
        .pause(750)
        .type('不知道这样的介绍方式会不会很蠢')
        .pause(750)
        .delete(15)
        .break()
        .type('没关系，反正你都看到了')
        .pause(750)
        .break()
        .type('那，不知道可不可以认识一下嘛')
        .break()
        .pause(750)
        .type('我的<a href="mailto:ylcj1314@gmail.com">邮箱</a>☝️')
        .break()
        .pause(750)
        .type('或者可以留电话嘛')
        .pause(2000)
        .delete(4)
        .pause(750)
        .delete(4)
        .break()
        .type('偷偷的留一个吧，我的电话<a href="tel:13098878963">13098878963</a>')
        .break()
        .type('😀');
    var iOS = !!navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);
        var ff = navigator.userAgent.indexOf('Firefox') > 0;
        var tap = ('ontouchstart' in window || navigator.msMaxTouchPoints) ? 'touchstart' : 'mousedown';
        if (iOS) document.body.classList.add('iOS');

        var fireworks = (function () {

            var getFontSize = function () {
                return parseFloat(getComputedStyle(document.documentElement).fontSize);
            }

            var canvas = document.querySelector('.fireworks');
            var ctx = canvas.getContext('2d');
            var numberOfParticules = 24;
            var distance = 200;
            var x = 0;
            var y = 0;
            var animations = [];

            var setCanvasSize = function () {
                canvas.width = window.innerWidth;
                canvas.height = window.innerHeight;
            }

            var updateCoords = function (e) {
                x = e.clientX || e.touches[0].clientX;
                y = e.clientY || e.touches[0].clientY;
            }

            var colors = ['#FF324A', '#31FFA6', '#206EFF', '#FFFF99'];

            var createCircle = function (x, y) {
                var p = {};
                p.x = x;
                p.y = y;
                p.color = colors[anime.random(0, colors.length - 1)];
                p.color = '#FFF';
                p.radius = 0;
                p.alpha = 1;
                p.lineWidth = 6;
                p.draw = function () {
                    ctx.globalAlpha = p.alpha;
                    ctx.beginPath();
                    ctx.arc(p.x, p.y, p.radius, 0, 2 * Math.PI, true);
                    ctx.lineWidth = p.lineWidth;
                    ctx.strokeStyle = p.color;
                    ctx.stroke();
                    ctx.globalAlpha = 1;
                }
                return p;
            }

            var createParticule = function (x, y) {
                var p = {};
                p.x = x;
                p.y = y;
                p.color = colors[anime.random(0, colors.length - 1)];
                p.radius = anime.random(getFontSize(), getFontSize() * 2);
                p.draw = function () {
                    ctx.beginPath();
                    ctx.arc(p.x, p.y, p.radius, 0, 2 * Math.PI, true);
                    ctx.fillStyle = p.color;
                    ctx.fill();
                }
                return p;
            }

            var createParticles = function (x, y) {
                var particules = [];
                for (var i = 0; i < numberOfParticules; i++) {
                    var p = createParticule(x, y);
                    particules.push(p);
                }
                return particules;
            }

            var removeAnimation = function (animation) {
                var index = animations.indexOf(animation);
                if (index > -1) animations.splice(index, 1);
            }

            var animateParticules = function (x, y) {
                setCanvasSize();
                var particules = createParticles(x, y);
                var circle = createCircle(x, y);
                var particulesAnimation = anime({
                    targets: particules,
                    x: function (p) { return p.x + anime.random(-distance, distance); },
                    y: function (p) { return p.y + anime.random(-distance, distance); },
                    radius: 0,
                    duration: function () { return anime.random(1200, 1800); },
                    easing: 'easeOutExpo',
                    complete: removeAnimation
                });
                var circleAnimation = anime({
                    targets: circle,
                    radius: function () { return anime.random(getFontSize() * 8.75, getFontSize() * 11.25); },
                    lineWidth: 0,
                    alpha: {
                        value: 0,
                        easing: 'linear',
                        duration: function () { return anime.random(400, 600); }
                    },
                    duration: function () { return anime.random(1200, 1800); },
                    easing: 'easeOutExpo',
                    complete: removeAnimation
                });
                animations.push(particulesAnimation);
                animations.push(circleAnimation);
            }

            var mainLoop = anime({
                duration: Infinity,
                update: function () {
                    ctx.clearRect(0, 0, canvas.width, canvas.height);
                    animations.forEach(function (anim) {
                        anim.animatables.forEach(function (animatable) {
                            animatable.target.draw();
                        });
                    });
                }
            });

            document.addEventListener(tap, function (e) {
                updateCoords(e);
                animateParticules(x, y);
            }, false);

            window.addEventListener('resize', setCanvasSize, false);

            return {
                boom: animateParticules
            }

        })();

        var logoAnimation = function () {

            document.body.classList.add('ready');

            var setDashoffset = function (el) {
                var l = el.getTotalLength();
                el.setAttribute('stroke-dasharray', l);
                return [l, 0];
            }

            var letters = anime({
                targets: '#lines path',
                strokeDashoffset: {
                    value: setDashoffset,
                    duration: 700,
                    easing: 'easeOutQuad'
                },
                transform: ['translate(0 128)', 'translate(0 0)'],
                delay: function (el, i) {
                    return 750 + (i * 120)
                },
                duration: 1400
            });

            var dotJSRoll = anime({
                targets: '#dot-js',
                transform: ['translate(0 0)', 'translate(544 0)'],
                delay: letters.duration - 800,
                duration: 800,
                elasticity: 300
            });

            var dotJSDown = anime({
                targets: '#dot-js',
                transform: ['translate(0 -304)', 'translate(0 0)'],
                duration: 500,
                elasticity: 600,
                autoplay: false
            });

            var dotJSUp = anime({
                targets: '#dot-js',
                transform: ['translate(0 0) scale(1 3)', 'translate(0 -352) scale(1 1)'],
                duration: 800,
                easing: 'easeOutCirc',
                complete: dotJSDown.play
            });

            var boom = anime({
                duration: 880,
                complete: function (a) {
                    var dot = dotJSDown.animatables[0].target.getBoundingClientRect();
                    var pos = { x: dot.left + (dot.width / 2), y: dot.top + (dot.height / 2) }
                    fireworks.boom(pos.x, pos.y);
                }
            });

            var letterI = anime({
                targets: '#line-i-1',
                strokeDashoffset: {
                    value: setDashoffset,
                    duration: 700,
                    easing: 'easeOutQuad'
                },
                transform: function () {
                    return ff ? ['rotate(360)', 'rotate(0)'] : ['rotate(360 240 64)', 'rotate(0 240 64)'];
                },
                duration: 2500,
                delay: letters.duration - 780
            });

            var dotI = anime({
                targets: '#dot-i',
                transform: ['translate(0 -352) scale(1 3)', 'translate(0 0) scale(1 1)'],
                opacity: {
                    value: [0, 1],
                    easing: 'linear',
                    duration: 100
                },
                delay: letters.duration + 250
            });

            var JSletters = anime({
                targets: ['#line-j', '#line-s'],
                strokeDashoffset: setDashoffset,
                duration: 1400,
                delay: function (el, i) { return (letterI.duration - 1400) + (i * 60) },
                easing: 'easeInOutQuart'
            });

            var gradients = anime({
                targets: '#fills *:not(#dot-i)',
                opacity: [0, 1],
                delay: letterI.duration - 300,
                delay: function (el, i, l) {
                    var mid = l / 2;
                    var index = (i - mid) > mid ? 0 : i;
                    var delay = Math.abs(index - mid);
                    return (letterI.duration - 1300) + (delay * 30);
                },
                duration: 500,
                easing: 'linear'
            });

        }

        document.addEventListener('DOMContentLoaded', logoAnimation, false);
</script>