---
layout: default
---

<main id="main" class="main-content" aria-label="Content">
  {% if page.categories.size > 0 %}
    {%- for category in page.categories -%}
      {% if category contains "record" %}
        {% include post-back.html %}
      {% endif %}   
    {%- endfor -%}
  {% endif %}
  <article class="h-entry">
    {% include page-image.html %}
    <div class="page-wrapper">
      <header class="page-header">
        {% assign title = page.title | markdownify | strip_html %}
        {% if page.link %}
          <h1 id="page-title" class="page-title p-name"><a href="{{ page.link }}">{{ title }} <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 id="page-title" class="page-title p-name">{{ title }}</h1>
        {% endif %}
      </header>
      <script>
        function addEvent(obj, type, fn) {
          if (obj.attachEvent) { //ie
            obj.attachEvent('on' + type, function () {
              fn.call(obj);
            })
          } else {
            obj.addEventListener(type, fn, false);
          }
        }
      </script>
      <div class="page-sidebar">
        {% include page-author.html %}
        {% include page-categories.html %}
        {% include page-tags.html %}
        {% include scrollspy.html %}        
      </div>
      <div class="page-content">
        {% include posts-progress.html %}
        <div class="e-content">
          {{ content }}
        </div>

        {% if page.share %}
          {% include social-share.html %}
        {% endif %}

        {% if site.gitalk %}
          {% include gitalk-comments.html %}
        {% endif %}

        {% include page-pagination.html %}
      </div>
    </div>
  </article>
  <div class="m-backtotop" aria-hidden="true">
    <div class="arrow">
      <i class="fa fa-arrow-up"></i>
    </div>
    <div class="text">
      Back to top
    </div>
  </div>
  <script>
    (function () {
      document.querySelectorAll('.e-content a').forEach(e => {
        e.setAttribute('target', '_blank');
      })
    })()
    window.addEvent(this, 'load', () => {
      var toggleHeight = $(window).outerHeight() * 1.5;
      $(window).scroll(function () {
        if ($(window).scrollTop() > toggleHeight) {
          //Adds active class to make button visible
          $(".m-backtotop").addClass("active");
        } else {
          //Removes active class to make button visible
          $(".m-backtotop").removeClass("active");
        }
      });
      //Scrolls the user to the top of the page again
      $(".m-backtotop").click(function () {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
      });
    })
  </script>
</main>
